body {
  background-image: url("https://img.freepik.com/free-photo/billie-dollar-money-background_1150-749.jpg?w=996&t=st=1702171325~exp=1702171925~hmac=7b51eb2061ae9d26f136bc5255c82646398ef0e6681ea30b224916885602fb6e");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Playfair Display", serif;
}
header {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(93, 16, 200, 1) 100%
  );
  font-weight: 900;
  letter-spacing: 0.1em;
}
select {
  background-color: antiquewhite !important ;
  opacity: 0.9;
}
input {
  background-color: antiquewhite !important ;
  opacity: 0.9;
}
.custom-div {
  background-color: ghostwhite !important;
  opacity: 0.9;
}
option {
  font-weight: 600;
}
footer {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(93, 16, 200, 1) 100%
  );
}